/* Mobile First */

/* 
        Colors 

- Almost White: hsl(0, 0%, 98%)
- Medium Gray: hsl(0, 0%, 41%)
- Almost Black: hsl(0, 0%, 8%)
*/

* {
  box-sizing: border-box;
  margin: 0%;
  font-family: 'Epilogue', sans-serif;
}

.desktop_nav > div,
.snap > img, h3 {
  cursor: pointer;
}

h3 {
  color: hsl(0, 0%, 41%);
}

h3:hover {
  color: hsl(0, 0%, 8%);
}

p {
  font-size: 18px;
  text-align: center;
}

.flex {
  display: flex;
}

.hidden {
  display: none !important;
}

.dsk_hidden {
  display: none;
}

header {
  justify-content: space-between;
  height: 3em;
}

nav {
  width: 4em;
}

.snap {
  padding: 1.3em;
}

.navbar {
  padding: 1.3em;
}

body {
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
}

.hero_image {
  width: 100%;
  margin: 2em 0;
}

.hero_image img {
  width: 100%;
}

.main_content {
  flex-direction: column;
  align-items: center;
}

.main_content h1 {
  width: 100%;
  text-align: center;
  padding: .6em;
  color: hsl(0, 0%, 8%);
  font-weight: 700;
}

.main_content p {
  margin: 0 1em;
  color: hsl(0, 0%, 41%);
  margin-bottom: 1.8em;
  font-weight: 500;
}

.main_content button {
  border: none;
  text-decoration: none;
  background-color: hsl(0, 0%, 8%);
  color: #FFF;
  font-weight: 700;
  padding: 1em;
  border-radius: 1em;
  width: 9em;
  height: 3em;
}

footer {
  height: 100%;
  align-items: center;
}

.clients {
  justify-content: space-around;
  width: 100%;
}

.clients img {
  size-adjust: inherit;
}

.clients div {
  width: 60px;
  height: 36px;
  display: flex;
  align-items: center;
}

.clients div img {
  width: 100%;
  height: auto;
}

.dropdown_menu {
  position: absolute;
  background-color:  hsl(0, 0%, 98%);

  margin-left: 35%;
  width: 65%;
  height: 100vh;

  box-shadow: -9.5em -0.01em rgba(0, 0, 0, .6);

  flex-direction: column;
  justify-content: flex-start;

  color: hsl(0, 0%, 41%);
}

.dropdown_header {
  padding: 1em;
  justify-content: flex-end;
}

.dropdown_header img {
  padding: .2em;
}

.dropdown_main {
  flex: 1;
  margin: 1em;
}

.items_container {
  flex-direction: column;
}

.items {
  align-items: center;
  margin-top: 1em;
}

.items:first-child {
  margin-top: 0;
}

.items img {
  width: 1em;
}

.features_items {
  margin: 1em 0 1em 2em;
}

.item {
  padding: .5em;
  align-items: center;
}

.item img {
  width: 1.15em;
}

.calendar, .reminders, .planning {
  margin-top: .5em;
}

.features_items h3 {
  margin-left: .8em;
}

.company_items {
  margin: .5em 0 .5em 2em;
}

.company_items > div {
  margin-top: 1em;
}

.dropdown_main > div {
  margin-top: 1em;
}

.dropdown_main div h3 {
  margin-right: 1em;
}

.careers, .about {
  margin-top: 1.5em;
  cursor: pointer;
}

.dropdown_buttons {
  height: 100px;
}

.dropdown_footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.dropdown_footer .dropdown_buttons {
  flex-direction: column;
  width: 100%;

  justify-content: space-between;
}

button {
  padding: 1em;
  margin: 0 1.8em;
  border-radius: 1em;
  border: none;
  background-color: hsl(0, 0%, 98%);
  text-decoration: none;
  cursor: pointer;
}

button:active,
button:focus,
button:hover {
  transition: .5s;
  color: #000;
  border: 1px solid #000;
  background-color: #FFF;
}

@media(min-width: 600px) {
  footer {
    margin-top: 2em;
  }

  .dropdown_menu {
    box-shadow: -13em -0.01em rgba(0, 0, 0, .6);
  }

}

@media(min-width: 768px) {
  .dropdown_menu {
    box-shadow: -17em -0.01em rgba(0, 0, 0, .6);
  }

}

@media(min-width: 1024px) {

  body {
    height: 100vh;
    align-items: center;
  }

  header {
    justify-content: flex-start;
    height: 5em;
    width: 100%;
  }

  .snap {
    width: 15vw;
    padding: 2em;
  }

  header nav img {
    display: none;
  }

  .desktop_nav {
    display: flex;
    width: 60%;
    justify-content: flex-start;
    gap: 1em;
  }

  .desktop_nav div {
    padding: 2em;
    align-items: center;
  }

  .desktop_nav div img {
    display: initial;
    margin-left: 1em;
  }

  .buttons {
    width: 25vw;
    align-items: center;
    margin-left: 1em;
  }

  .buttons button {
    width: 10em;
    height: 3em;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    margin: 3em 1em;

    gap: 5em;
    height: 500px;
  }

  .hero_image {
    margin: 0;
    height: 100%;
    width: 40%;
  }
  
  .hero_image img {
    height: 100%;
    width: auto;
  }

  .main_content {
    height: 100%;
    width: 50%;
    justify-content: flex-start;
  }

  .main_content h1 {
    font-size: 52px;
    text-align: left;
    padding-bottom: 1em;
    padding-left: 0;
  }

  .main_content p {
    text-align: left;
    margin: 0;
  }

  .main_content .learn_more {
    align-self: baseline;
    margin-left: 0;
    margin-top: 2em;
  }

  .clients {
    margin-top: 15%;
  }

  .desktop_features_dropdown,
  .desktop_company_dropdown {
    position: absolute;
    background-color: #FFF;
    padding: 0 !important;
    margin-top: 4.5em;
    border-radius: 1.5em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .2);
  }

  .desktop_features_dropdown {
    left: 7em;
    width: 11.5em;
  }

  .dsk_item {
    display: flex;
    width: 100%;
    padding: 1em !important;
  }

  .dsk_item h3 {
    margin-left: 1em;
  }

  .desktop_company_dropdown {
    left: 21em;
    width: 10em;
  }

}

@media(min-width: 1440px) {  
  .desktop_features_dropdown {
    left: 9.2em;
    width: 13em;
  }

  .desktop_company_dropdown {
    left: 24.5em;
    width: 10em;
  }
}

@media(min-width: 1620px) {  
  .desktop_features_dropdown {
    left: 14em;
    width: 13em;
  }

  .desktop_company_dropdown {
    left: 29.2em;
    width: 10em;
  }
}